<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.db1.BankAEntityMapper">
  <resultMap id="BaseResultMap" type="com.demo.domain.db1.BankAEntity">
    <!--@mbg.generated-->
    <!--@Table bank_a-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="money" jdbcType="BIGINT" property="money" />
    <result column="status" jdbcType="VARCHAR" property="status" />

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, money, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bank_a
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from bank_a
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.demo.domain.db1.BankAEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bank_a (user_name, money, `status`
      )
    values (#{userName,jdbcType=VARCHAR}, #{money,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.demo.domain.db1.BankAEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bank_a
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if com.demo.test="userName != null and userName != ''">
        user_name,
      </if>
      <if com.demo.test="money != null">
        money,
      </if>
      <if com.demo.test="status != null and status != ''">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if com.demo.test="userName != null and userName != ''">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if com.demo.test="money != null">
        #{money,jdbcType=BIGINT},
      </if>
      <if com.demo.test="status != null and status != ''">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.domain.db1.BankAEntity">
    <!--@mbg.generated-->
    update bank_a
    <set>
      <if com.demo.test="userName != null and userName != ''">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if com.demo.test="money != null">
        money = #{money,jdbcType=BIGINT},
      </if>
      <if com.demo.test="status != null and status != ''">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.domain.db1.BankAEntity">
    <!--@mbg.generated-->
    update bank_a
    set user_name = #{userName,jdbcType=VARCHAR},
      money = #{money,jdbcType=BIGINT},
      `status` = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from bank_a
        <where>
            <if com.demo.test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if com.demo.test="userName != null and userName != ''">
                and user_name=#{userName,jdbcType=VARCHAR}
            </if>
            <if com.demo.test="money != null">
                and money=#{money,jdbcType=BIGINT}
            </if>
            <if com.demo.test="status != null and status != ''">
                and `status`=#{status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update bank_a
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="money = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.money,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bank_a
    (user_name, money, `status`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userName,jdbcType=VARCHAR}, #{item.money,jdbcType=BIGINT}, #{item.status,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.demo.domain.db1.BankAEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bank_a
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if com.demo.test="id != null">
        id,
      </if>
      user_name,
      money,
      `status`,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if com.demo.test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{userName,jdbcType=VARCHAR},
      #{money,jdbcType=BIGINT},
      #{status,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if com.demo.test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      user_name = #{userName,jdbcType=VARCHAR},
      money = #{money,jdbcType=BIGINT},
      `status` = #{status,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.demo.domain.db1.BankAEntity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bank_a
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if com.demo.test="id != null">
        id,
      </if>
      <if com.demo.test="userName != null">
        user_name,
      </if>
      <if com.demo.test="money != null">
        money,
      </if>
      <if com.demo.test="status != null">
        `status`,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if com.demo.test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if com.demo.test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if com.demo.test="money != null">
        #{money,jdbcType=BIGINT},
      </if>
      <if com.demo.test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if com.demo.test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if com.demo.test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if com.demo.test="money != null">
        money = #{money,jdbcType=BIGINT},
      </if>
      <if com.demo.test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>